#table
{
border: 3px solid black;border-radius:25px;background-color:#FEFEFE;text-align:left;font-family: 'Montserrat', sans-serif;font-size:14px;
}
#btn
{	
	font-size:20px;
	color:brown;
	height:1.3cm;
	background-color:lightblue;
	width:5cm;
	font-family: 'Cuprum', sans-serif;
}
input { font-size: 14px;font-family: 'Roboto Slab', serif;border:.5px solid grey;}

select { font-size: 14px;font-family: 'Roboto Slab', serif; }